<ion-view view-title="Account">
 
<ion-content class="padding">
  
   <div class="list">
	            <label class="item item-input">
	              <span class="input-label">Title</span>
	              <input type="text" ng-model="note.name">
	            </label>
	            <label class="item item-input">
	              <span class="input-label">Description</span>
	              <input type="text" ng-model="note.lastText">
	            </label>
	          </div>
	          <div class="padding">
	            <button class="button button-block button-positive" ng-click="addNote(note)">
	             Add Note
	            </button>
	        
	          </div>
 
 
      


  </ion-content>
</ion-view>
